/* Style de base */
body {
    font-family: neuropol;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}




img {
    max-height: 100px;
} 
form {
    max-width: 400px;
    margin: 0 auto;
    display: flex; /* Utiliser Flexbox */
    flex-wrap: wrap; /* Permettre le passage à la ligne */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

form textarea {
    padding: 5px;
    margin-bottom: 10px;
    height: 100px; /* Hauteur fixe pour le champ de description */

}

form label {
    display: block;
    margin-bottom: 5px;
    flex: 0 0 100%; /* Définir la largeur de chaque élément à 100% pour qu'ils prennent toute la largeur du conteneur */
}

form input[type="text"],
form input[type="number"],
form textarea,
form select {
    width: calc(50% - 10px); /* Largeur de 50% avec une marge de 10px entre les éléments */
    padding: 5px;
    margin-bottom: 10px;
}

form select {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
}

form input[type="file"] {
    margin-bottom: 20px;
}

input:focus, textarea:focus {
    border: 2px solid #EF7A2D; /* Couleur du contour lorsqu'il est sélectionné */
    outline: none; /* Supprimer la bordure de mise en évidence par défaut */
}

form input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-family: neuropol;
    background-color: #000000;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #EF7A2D; /* Nouvelle couleur de fond au survol */
}

h2 {
    margin-top: 30px;
}
.picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture img {
    margin: 5px;
    max-width: 200px;
    max-height: 200px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}
/* Style pour les messages d'erreur */
.error-message {
    color: #ff0000;
    margin-top: 5px;
    font-size: 14px;
}


.result {
    color: #000000;
    font-size: 20px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}