@font-face {
    font-family: 'neuropol';
    src: url('../assets/polices/neuropol.woff2') format('woff2'); /* On prend la police de l'IUT mdr */
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav.menu .link-container img.home-picture {
    width: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 20px; /* Ajoute un peu de padding pour ne pas coller les éléments aux bords */
}

.menu .link-container {
    display: flex;
    list-style: none; /* Enlève les puces des listes */
    padding: 0; /* Enlève le padding par défaut des listes */
    margin: 0; /* Enlève la marge par défaut des listes */
}

.menu .link-container li {
    padding: 0 10px; /* Espacement entre les liens */
}

nav.menu a {
    text-decoration: none;
    color: #ffffff;
    background: #000000;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-family: neuropol;
    font-size: 20px;
    transition: .5s;
    display: flex;
    align-items: center;
}

nav.menu a:hover {
    background: #EF7A2D;
}

.menu .account {
    display: flex;
    align-items: center;
}
