p.about-us { 
    color: #000000;
    font-size: 20px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}
p.copyright { 
    color: #000000;
    font-size: 15px;
    font-family: arial;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}
button, input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-family: neuropol;
    background-color: #000000;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #EF7A2D; 
}  
.vehicle-container {
    margin: 10px auto; /* Centre le conteneur horizontalement */
    padding: 10px;
    width: calc(30% - 20px); 
    margin-bottom: 20px;
    border-radius: 12px; 
    overflow: hidden;
    font-family: 'neuropol'; 
    transition: transform 0.3s ease;
    opacity: 0; 
    animation: fadeIn 0.5s ease-in forwards; 
}
.vehicle-container:hover {
    transform: scale(1.05); /* Grossit de 10% lorsque survolé */
}
.vehicle {
    border: none; 
    padding: 20px; 
    background-color: #e7e7e7; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.vehicle img {
    max-width: 100%; 
    border-radius: 12px; 
}

.make-model {
    font-size:30px;
    font-weight: bold;
    
    color: #000000; 
}
.price {
    font-size: 28px;
    color: #EF7A2D; 
     
}
.date-mileage {
    font-size: 23px;
    color: #2e2e2e; 
    margin-top: 8px; 
}
.energy {
    font-size: 23px;
    font-weight: bold;
    color: #000000; 
}

a.vehicle-link {
    text-decoration: none;
}
