@font-face {
    font-family: 'neuropol';
    src: url('/assets/polices/neuropol.woff2') format('woff2'), /* On prend la police de l'IUT mdr */
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
nav.menu .link-container img.home-picture {
    width: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 20px; /* Ajoute un peu de padding pour ne pas coller les éléments aux bords */
}

.menu .link-container {
    display: flex;
    list-style: none; /* Enlève les puces des listes */
    padding: 0; /* Enlève le padding par défaut des listes */
    margin: 0; /* Enlève la marge par défaut des listes */
}

.menu .link-container li {
    padding: 0 10px; /* Espacement entre les liens */
}

nav.menu a {
    text-decoration: none;
    color: #ffffff;
    background: #000000;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-family: neuropol;
    font-size: 20px;
    transition: .5s;
    display: flex;
    align-items: center;
}

nav.menu a:hover {
    background: #EF7A2D;

}

.menu .account {
    display: flex;
    align-items: center;
}
p.welcome {
    color: #000000;
    font-size: 20px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
  }
p.disclaimer-project{
    color: #ff0000;
    font-size: 20px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}  

  @keyframes fadeIn {
    to {
      opacity: 1; 
    }
  }
  body {
    margin: 0;
    padding: 0;
}
.separator {
    border-bottom: 1px solid #6b6b6b; 
    margin: 20px auto; 
    max-width: 80%;

}
.page-title { 
    color: #000000;
    font-size: 40px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}
.vehicle-container {
    margin: 10px;
    padding: 10px;
    width: calc(15% - 20px); 
    margin-right: 20px; 
    float: left;
    margin-bottom: 20px;
    border-radius: 12px; 
    overflow: hidden;
    font-family: 'neuropol'; 
    transition: transform 0.3s ease;
    opacity: 0; 
    animation: fadeIn 0.5s ease-in forwards; 
}
.vehicle-container:hover {
    transform: scale(1.05); /* Grossit de 10% lorsque survolé */
}
.vehicle {
    border: none; 
    padding: 20px; 
    background-color: #e7e7e7; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.vehicle img {
    max-width: 100%; 
    border-radius: 12px; 
}

.make-model {
    font-size: 20px;
    font-weight: bold;
    
    color: #000000; 
}

.price {
    font-size: 22px;
    color: #EF7A2D; 
     
}

.date-mileage {
    font-size: 14px;
    color: #2e2e2e; 
    margin-top: 8px; 
}

a.vehicle-link {
    text-decoration: none;
}


p.basket-body { 
    color: #000000;
    font-size: 20px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}
p.about-us { 
    color: #000000;
    font-size: 20px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}
p.login { 
    color: #000000;
    font-size: 20px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}
div.error404 {
    text-align: center; /* Centre le contenu horizontalement */
}
div.error404 h1 { 
    color: #000000;
    font-size: 50px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}
div.error404 img {
    width: 350px;
    height: 350px;
    margin: auto; /* Centre l'image horizontalement */
}
div.item-details {
    color: #000000;
    font-size: 20px;
    font-family: neuropol;
    margin: 10px;
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards;
}
/* Styles globaux de la page */
#vehicle-detail-page .vehicle-details-container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    color: #333;
}

#vehicle-detail-page .vehicle-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour l'image principale du véhicule */
#vehicle-detail-page .main-image {
    max-width: 100%;
    max-height: 600px;
    display: block;
    border-radius: 8px;
}

/* Boutons de navigation */
#vehicle-detail-page .navigation-button {
    cursor: pointer;
    font-size: 24px;
    color: #EF7A2D;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000; /* Assure que les boutons sont au-dessus des autres éléments */
}

#vehicle-detail-page .next {
    right: 30px;
}

#vehicle-detail-page .prev {
    left: 30px;
}

/* Styles pour les détails du véhicule sous l'image principale */
#vehicle-detail-page .vehicle-details {
    margin-top: 20px;
}

#vehicle-detail-page .make-model, #vehicle-detail-page .price, #vehicle-detail-page .date-mileage {
    margin: 5px 0;
}

/* Styles pour la galerie de miniatures */
#vehicle-detail-page .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow-x: auto; /* Permet de faire défiler horizontalement si nécessaire */
}

#vehicle-detail-page .thumbnail {
    width: 100px;
    height: 75px; /* Hauteur fixe pour toutes les miniatures */
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s, transform 0.3s;
    object-fit: cover; /* Préserve les proportions de l'image */
    margin-right: 10px; /* Espacement entre les miniatures */
    border-radius: 4px; /* Arrondit les coins des miniatures */
}

#vehicle-detail-page .thumbnail:hover, #vehicle-detail-page .thumbnail.active {
    transform: scale(1.1); /* Effet de zoom pour l'image active et au survol */
    opacity: 1;
}
.result {
    color: #000000;
    font-size: 20px;
    font-family: neuropol;
    display: flex;
    justify-content: center; 
    align-items: center; 
    opacity: 0; /* Commence complètement transparent */
    animation: fadeIn 0.5s ease-in forwards; /* Animation nommée "fadeIn" */
}